<div class="grid-container">
    {{#each drones}}
    <div class="drone-wrapper">
        <p><b>Drone name:</b> {{name}}</p>
        <p><b>Number of propellers:</b> {{propellers}}</p>
        <p><b>Max speed:</b> {{maxSpeed}}mph</p>
        <div class="actions">
            <a href="/drones/{{_id}}/edit">Edit drone</a>
            <form action="/drones/{{_id}}/delete" method="post">
                <button>Destroy drone</button>
            </form>
        </div>
    </div>
    {{/each}}
</div>
